"Zona de Estudo/Estudo 6 - Vetores/Vetores/ExComoResolver.txt"
"Zona de Estudo/Estudo 8 - Manipulação de Arquivos/notasAlunos.txt"
"Zona de Estudo/Estudo 8 - Manipulação de Arquivos/alunoAprovados.txt"
"Zona de Estudo/Estudo 8 - Manipulação de Arquivos/target/"
"Zona de Estudo/Estudo 8 - Manipulação de Arquivos/src/main/target/"